{% set intro = g.site_intro_text %}
{% set coverpic = g.site_cover_pic %}


<div class="module-content box">

  {% block home_image %}
    <section class="featured media-overlay hidden-phone">
      <!--h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2-->
      {% block home_image_content %}
        <a class="media-image" href="#">
          {% if coverpic %}
            <img src="{{ h.url_for_static_or_external(g.site_cover_pic) }}" alt="Placeholder" width="420" height="220" />  
          {% else %}
            <img src="{{ h.url_for_static('sydney_skyline.jpg') }}" alt="Placeholder" width="420" height="220" />
          {% endif %}
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>



