@font-face {
    font-family: 'swiss_721light';
    src: url('/fonts/swiss_721_light-webfont.eot');
    src: url('/fonts/swiss_721_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swiss_721_light-webfont.woff2') format('woff2'),
         url('/fonts/swiss_721_light-webfont.woff') format('woff'),
         url('/fonts/swiss_721_light-webfont.ttf') format('truetype'),
         url('/fonts/swiss_721_light-webfont.svg#swiss_721light') format('svg');
    font-weight: normal;
    font-style: normal;
  font-family:"Swiss911 UCm BT";
  src:url('/fonts/Swiss911UltraCompressedBT.ttf') format('truetype');
} 

.title1 {
box-sizing: border-box;
cursor: auto;
display: inline;
font-family: Swiss911 UCm BT, sans-serif;
font-size: 40px;
height: auto;
letter-spacing: -1x;
line-height: 37.8px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: left;
font-weight: normal;
/*text-transform: uppercase;*/
display: inline-block;
}
.title1 {
  color: rgb(22, 120, 15) !important;
  padding-right: 10px;
}

/*.page_primary_action {
  padding-top: 20px;
}*/

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: white;
}

.row, .wrapper, .box, div.row.wrapper {
      border-radius: 0px 0 0 0;
      box-shadow: none;
}

div.row.wrapper {
      border-radius: 0px 0 0 0;
      box-shadow: 0px!important;
}

p {
  font: normal 75%/1.5em "Helvetica Neue", Arial, sans-serif;
  font-size: 0.917em;
}

h1 {
  font: normal 75%/1.5em "Helvetica Neue", Arial, sans-serif;
  font-size: 2.333333333em;
  font-weight: bold;
  color: #333333!important;
}

h2 {
  font: normal 75%/1.5em "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333333!important;
}

h3 {
  font: normal 75%/1.5em "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333333!important;
}

a {

  font-weight: bold!important;
  border-radius: 0px 0 0 0!important;
  color: rgb(0, 79, 113);
}

a.select2-choice {
  border-radius: 4px !important;
  background: white !important;
  border-color: rgb(204, 204, 204) !important;
  font-weight: normal!important;
  line-height: : 20px !important;
  padding: 4px !important;
}

.select2-arrow {
  background: white!important;
  border: none !important;
}

.select2-container .select2-choice {
  height: 20px;
  line-height: 20px;
}

.select2-chosen {
   height: 20px;
}

select.inpSelect {
  //Remove original arrows
  -webkit-appearance: none; 
  //Use png at assets/selectArrow.png for the arrow on the right
  //Set the background color to a BadAss Green color 
  background: url(select2.png) no-repeat right #BADA55;
}


section#dataset-resources.resources {
  padding-top: 10px;
}


/* =====================================================
   Anything to do with tags
   ===================================================== */


/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: #1b2d38;
  float: none;
  width: auto;
}

.homepage .module-search .tags {
  background-color: #1b2d38;
  float: none;
}

.tag {
  background-color: #16780f;
  border: none;
  /*border-radius: 0px;*/
  color: white;
  font-weight: normal!important;
  /*border-radius: 0 0 0 0;*/
  margin: 0px 3px 3px 0px !important;
  box-shadow: 0px !important;
  /*border: 0px!important;*/
  box-shadow: none;
}
.tag-list li {
  margin-right: -3px;
}

div.tags h3 {
    float: none!important;
    color: white!important;
}

a.tag:hover {
    margin: 0px 3px 3px 0px !important;
    border: none;
    background-color: rgb(15, 84, 10);
    box-shadow: none;
}

.tag-buttons {
  margin-left: 8px;
  margin-top: 4px;

}

.tag-list {
  background-color: white;
  border: 0px;
  box-shadow: none;
}

.homepage .module-search .tags h3, .homepage .module-search .tags .tag{
  font: normal 75%/1.5em "Helvetica Neue", Arial, sans-serif;
  font-size: 20px!important;

}

.tag-list a {
  margin: 0px;
}

/*=============================================================*/

.homepage.module-search.module-content.heading {
  font: normal 75%/1.5em "Helvetica Neue", Arial, sans-serif;
  font-size: 24px!important;
  font-weight: bold; 
}


.nav-tabs>li>a, .nav-tabs li.active a {
  color: rgb(0, 79, 113);
}

.module-search h3 {
  color: white!important;
}

.btn {
  background-color: rgb(0,90,132) !important;
  background-image: none;
  border-radius: 0px 0 0 0;
  color: white;
  text-shadow: none;
  border: none;
  font-weight: 400px!important;

}

.btn.btn-danger {
  background-color: rgb(198, 12, 70)!important;
}

.btn.btn-danger:hover {
  background-color: #f53d77!important;
}

button.btn.btn-navbar {
  background-color: #1b2d38!important;
}

button.btn {
  border-radius: 0px!important;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] , .btn.hover {
  color: white!important;
  background-color: #30778d!important;
  background-image: none;
}

.table {
  border-radius: 0px;
}

.label {
  border-radius: 0px;
}

/*Second page*/
/*second part*/
/*li.first li.complete {
  background: pink; 
}

.stages li.active .highlight {
  background: rgb(193,216,47); 
}

.stages li.active:after {
  border-top-color: rgb(193,216,47);
  border-bottom-color: rgb(193,216,47); 
}

.stages li.complete .highlight {
  background: grey;
}

.stages li.complete:after {
  border-top-color: grey;
  border-bottom-color: grey;
}

.first .complete {
  background: black!important;
}*/


.stages li.first.active .highlight{
background: rgb(0,90,132); 
}

.stages li.last.complete:after {
  border-top-color: #B8D2DE;
  border-bottom-color: #B8D2DE; 
}

.stages li.last.active:after {
  border-top-color: rgb(0,90,132);
  border-bottom-color: rgb(0,90,132); 
}

.stages li.last.active .highlight{
background: rgb(0,90,132); 
}


.stages li.first.complete .highlight{
background: #A3C3D2;
}

.stages li.last.active:before, .stages li.first.active:before {
  color: rgb(0,90,132);
}

.stages li.first.complete:before {
  color: #A3C3D2;
}




.cos-login-btn {
  width: 97%;
  font-size: 24px;
  line-height: 30px;
  margin-top: 15px;
  /*margin-bottom: 15px;*/
  padding: 10px;
  margin-right: 15px;
  background-color: rgb(27, 45, 56) !important;
}

/*.cos-login-btn img {
  height: 50px;
  max-width: 100%
}*/

.cos-login-btn:focus , .cos-login-btn:hover {
  /*background-color: #0a1116 !important;*/
  background-color: rgb(27, 45, 56) !important;
  color: rgb(122, 193, 67);
}

div, form {
   border-radius: 0px 0 0 0!important; 
}


/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background-color: #1b2d38;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgb(255, 255, 255);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: white;
  background-color: #0a1116;
}

.nav.nav-pills a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: #1b2d38;
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: #1b2d38;
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: #0a1116;
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */
div.span6 {
  float: one;
  width: 100%;
  margin: 0px;
  margin-top: 40px;
}


div.row.row1 div.span6.col1 {
  width: 64.4%;
} 

div.row.row1 div.span6.col2 {

} 

.media-image img {
  width: 100%;
  max-height: 500px;
}

/*div.module-content.box {
  padding: 0px;
}
*/

.media-grid {
  background: none;
  border: none;
}

a.media-view {
  border: none;
}

div.row.row1{
  background-color: #1b2d38;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

div.span6.col1 {
  margin: 0px;
}

div.span6.col2 {
  position: inherit !important;
  padding: 0px;
  width: auto;
  margin: 0px;
  min-width: 35.6%
}

.homepage .module-search {
  padding: 0px;
}

div.module.module-search.module-narrow.module-shallow.box {
  margin: 0px;
}

input.search {
  border-radius: 0px;
}

form.module-content.search-form {
  background-color: #1b2d38 !important;
}



.search-input, #field-sitewide-search {
  border-radius: 0px;
}


div.row {
  margin: 0px;
}

div[role=main].hero {
  background: white;
  min-height: 300px;
}

div[role=main] {
  background: white;
  border; none;
}

header.module-heading {
  padding: 10px!important;
}

header.module-heading p {
  color: white;
}


.media-heading {
  padding: 0px!important;
  margin: 0px;
}


.module-shallow li.dataset-item div.dataset-content {
  margin-bottom: 15px;
  /*border-bottom: solid 1px white;*/
  padding-bottom: 15px;
}


li.dataset-item {
  /*border-bottom: solid 1px #EEEEEE; */
}

li.dataset-item:last-child {
  padding-bottom: 20px;
  border-bottom: solid 1px #EEEEEE;
}
/*
section.module div.module-content:last-child {
  
  padding-top: 0px;

}*/

/*div.primary.span9 {
  padding-top: 20px;
}*/

/*.module-shallow .module-content:first-child {
  border: none;
}


.module-shallow .module-content {
  padding-top: 0px;
}*/

.serach-form {
  border-bottom: solid 1px #EEEEEE;   
}

.module:first-child .module-heading {
  border-radius: 0px 0 0 0;
}

.search-form {
    border-bottom: solid 1px #EEEEEE; 
} 

.box li {
  background-color: #EEEEEE;
}

header.module-heading {
  background-color: #091216;
  border-bottom: solid 1px #EEEEEE; 
}

.group-list .module-heading h3 a {
  color: white;
}



.front-intro {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

div.image {
  padding-top: 20px;
}

img {
    border-radius: 0px 0 0 0!important;
}

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
  border: none;
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
/*.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: white;
  
}


/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}

.pill {
  border-radius: 0px 0 0 0;
  background-color: #16780f;
}

.dashboard-grid li.box .module-heading {
  background-color: rgb(246, 246, 246);
}

.dashboard-grid li {
  border: solid 5px rgb(246, 246, 246);
}

div.form-actions {
  padding-bottom: 20px;
}

.module-content.box  {
  padding: 0px ;
}

/* Add a border line between the top and bottom halves of the front page. */


select#field-order-by {
  border-radius: 0px;
}

/* ====================================
   Dashboard stuff
   ==================================== */

.dashboard-view li {
  border: none;
}

.dashboard-view .module-heading {
  background: none !important;
  padding-left: 0px !important;
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer {
  background-color: #1b2d38;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: white;
}
/* The link texts in the footer. */
.site-footer a {
  color: white;
}

@media (min-width: 768px) and (max-width: 979px){
  
  div.span6.col2 {
    position: absolute !important;   
    background-color: #1b2d38;
    top: 0;
    right: 0;

    padding: 0px;
    width: auto;
    margin: 0px;
    min-width: 35.6%;
  }
}

.external-login {
  /*border-top: solid 1px rgb(229, 229, 229);*/
  padding-right: 10px;
  /*margin-right: 15px;*/
  border-top: solid 1px rgb(229, 229, 229);
  padding-top: 20px;
  margin-top: 0px;
}

/*.page-header {
  padding: 0px !important;
  margin: 0px !important;
  border-bottom: 0px;
}

*/
/*input, textarea, select, .select2-input, .select2-drop, .select2-display-none, .lang-dropdown,  .select2-with-searchbox,  .select2-drop-active , .select2-drop-above, a.select2-choice, #s2id_field-lang-select, .select2-container .lang-container , .select2-container,  .select2-dropdown-open,  .select2-container-active, .select2-choices, .select2-chosen, .select2-container, .add-on, .error-block, label, .editor-info-block{
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}*/